/* Desktop View */

body {
    background-color: #FFFDF3;
    font-family: 'Montserrat';
}


/* Navbar */

.navbar .container-fluid {
    margin: 5px 70px;
    color: white;
}

.navbar .container-fluid img {
    width: 80px;
    height: auto;
}

.navbar .container-fluid .collapse .navbar-nav {
    margin-left: 100px;
}


/*Hero*/

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 70px;
}

.signup .login-card .card {
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
}

.signup .ilustrasi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup .ilustrasi .float-start {
    width: 450px;
    height: auto;
}

.signup .ilustrasi .h4 {
    font-size: 28px;
}

.signup .ilustrasi .h4 span {
    color: #129F3E;
}

.signup .ilustrasi .lead {
    font-size: 20px;
    color: #37474F;
    font-weight: 500;
}


/* signup cards */

.signup .signup-cards {
    width: 514px;
    height: auto;
}

.signup .signup-card .card .card-body {
    display: flex;
    flex-direction: column;
}

.signup .signup-card .card .card-body .card-title {
    font-size: 32px;
    text-align: center;
    font-weight: 900;
}

.signup .signup-card .card .card-body .card-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.signup .signup-card .card .card-body .card-text a {
    text-decoration: none !important;
    font-weight: 900;
    color: #129F3E;
}

.signup .signup-card .card .card-body .button .btn {
    background-color: #129F3E;
    color: #FFFDF3;
    border: none;
    border-radius: 5px;
    padding: 5px 176px;
    font-size: 18px;
    font-weight: 500;
}


/* Tablet view */

@media (min-width: 769px) and (max-width: 991px) {
    body {
        background-color: #FFFDF3;
        font-family: 'Montserrat';
    }
    .mx-auto {
        width: 145px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    /* contents */
    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 70px;
    }
    .signup .ilustrasi .float-start {
        width: 350px;
        height: auto;
    }
    .signup .ilustrasi .h4 {
        font-size: 24px;
    }
    .signup .ilustrasi .h4 span {
        color: #129F3E;
    }
    .signup .ilustrasi .lead {
        font-size: 20px;
        color: #37474F;
        font-weight: 500;
    }
    /* login card */
    .signup .signup-card .card {
        width: 500px;
        height: auto;
    }
    .signup .signup-card .card .card-body {
        width: 500px;
    }
    .signup .signup-card .card .card-body .button .btn {
        padding: 5px 202px;
    }
}


/* Mobile phone view */

@media (min-width: 576px) and (max-width:768px) {
    body {
        background-color: #FFFDF3;
        font-family: 'Montserrat';
    }
    .mx-auto {
        width: 145px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    /* contents */
    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 70px;
    }
    .signup .ilustrasi .float-start {
        display: none;
    }
    .signup .ilustrasi .h4 {
        font-size: 24px;
        margin-top: 20px;
    }
    .signup .ilustrasi .h4 span {
        color: #129F3E;
    }
    .signup .ilustrasi .lead {
        font-size: 20px;
        color: #37474F;
        font-weight: 500;
        text-align: center;
    }
    /* login card */
    .signup .login-cards {
        width: 514px;
        height: auto;
    }
}